// Colors
$primary: #523468;
$secondary: #d73a1e;
$primary-highlight: darken($primary, 7%);
$primary-lighten: lighten($primary, 30%);
$neutral: #e6e6e6;
$neutral-dark: darken($neutral, 50%);

// Fonts
$font-menu: 'Crimson Text', serif;
$font-body: 'Open Sans', sans-serif;